body{
    background: linear-gradient(to left, rgb(189, 46, 46), white);
    width: 800px;
    margin: 0 auto;
}
.block1{
    display: inline-block;
    margin-left: 10%;
}

.block2{
    display: inline-block;
    margin-left: 9%;
    position: absolute;
    padding-top: 2%
}

.header{
    text-align: center;
    background: hsl(0, 0%, 100%, 40%);
    font-size: 50px;
    font-weight: bolder;
}

.desc{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        text-decoration: underline;
    }

    #groceries{
        padding-left: 43%;
    }

    #statement{
        text-align: center;
    }

    #pic{
        position: relative;
        height: 200px;
        width: auto;   
    }

    #las{
        text-align: center;
    }

    .ingredientSet{
        border-color: blue;
    }