body{
    background-image: url(../images/fresh.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#header{
    text-align: center;
    background: hsl(0, 0%, 100%, 40%);
    font-size: 50px;
    font-weight: bold;
}

.background{
    text-align: center;
    background: hsl(0, 0%, 100%, 40%);
}

.recList{
    font-weight: bold;
    font-size: 30px;
}